.filter-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  //border-bottom: 1px solid #c8c8c8;

  .filter-bar__filters {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;

    .search {
      display: flex;
      align-items: center;
      gap: 10px;

      .search__text {
        font-size: 18px;
      }
    }
  }

  //.filter-bar__add-post {
  //  .add-post__button {
  //  }
  //}
}

@media screen and (max-width: 748px) {
  .filter-bar {
    padding: 0 50px;
  }
}
