@font-face {
  font-family: "FoundersGrotesk";
  src: local("FoundersGrotesk"),
    url("../assets/fonts/FoundersGrotesk-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../assets/fonts/Inter-ExtraBold.ttf") format("ttf");
}
