.search-bar {
  font-family: 'Inter', sans-serif;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 5px;
  color: #c8c8c8;
  background: transparent;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 450px) {
  .search-bar {
    max-width: 90px;
  }
}
