.footer {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 200px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    border-top: 0.5px solid #ffffff;

    .footer__link {
      color: #c8c8c8;
    }

    .footer__load-time {
      color: rgb(30, 30, 30);
      cursor: pointer;

      &:hover {
        color: #c8c8c8;
      }
    }
  }
}
